* {
  font-family: Verdana, sans-serif;
}


h1, h2{
  color: White;
  background-color: black;
  text-align: center;
}

h3 {
  color: SeaGreen;
}


p{
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  color: Aquamarine;
}


a {
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  color: Aquamarine;
}

body {
background-color: black;
text-align: center;
}
